<div id="device_cycle">
  <div class="x_panel tile fixed_height_320 overflow_hidden">
    <div class="x_title">
      <h3>
        <span><%= t "dashboard.device_overview" %> </span>
        <%= link_to t("dashboard.device.to_device"),  devices_path %>
      </h3>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <% if @device_chartobj.present? && @device_chartobj[:have_data] %>
      <table class="chart w-100">
        <tr>
          <th class="w-37">
            <p><%= t "dashboard.device.chart" %></p>
          </th>
          <th>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p class=""><%= t "dashboard.device.status" %></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p class=""><%= t "dashboard.device.summary" %></p>
            </div>
          </th>
        </tr>
        <tr>
          <td>
            <canvas id="device_canvas"></canvas>
          </td>
          <td>
            <table class="tile_info">
              <% @device_chartobj[:labels].count.times do |i| %>
                <tr>
                  <td>
                    <p>
                      <i class="fa fa-square <%= @device_chartobj[:colors][i]%>"></i>
                      <%= link_to @device_chartobj[:labels][i],
                        devices_path(status_id: @device_chartobj[:device_status][i]) %>
                    </p>
                  </td>
                  <td><%= @device_chartobj[:datapercent][i] %>%</td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    <% else %>
      <div class="tile_info">
        <%= link_to t("dashboard.request.go_to_device"),  devices_path %>
      </div>
    <% end %>
    </div>
  </div>
</div>
