<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "request.table.title" %></th>
      <th><%= t "request.table.description" %></th>
      <th><%= t "request.table.request_status" %></th>
      <th><%= t "request.table.for_user" %></th>
      <th><%= t "request.table.time_ago" %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr class="<%= generate_tag_color request %>" >
        <td><%= request.title %></td>
        <td><%= request.description %></td>
        <td><%= request.request_status_name %><%= link_to t("dashboard.request.check"),
          requests_path(request_status_id: request.request_status_id) %></td>
        <td><%= request.for_user.name if request.for_user.present? %></td>
        <td><%= time_ago_in_words request.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
