<div class="row">
  <%= search_form_for @search, id: "form-submit" do |f| %>
    <div class="row padding-left-1">
      <div class="col-lg-3">
        <label class="form-control"><%= t "device_categories.field_label.key_search" %></label>
      </div>
      <div class="col-lg-4">
        <%= f.collection_select :device_group_id_eq, @support.device_group_categories, :id, :name,
          {include_blank: t(".all")}, {class: "form-control", onChange: "changeSearchForm()"} %>
      </div>
    </div>
  <% end %>
  <br/>
  <div class="row margin-left-1">
    <%= link_to new_device_category_path, class: "btn btn-primary",
      remote: true, data:{toggle: "modal", target: "#dms-popup", backdrop: "static"} do %>
      <%= t "device_categories.title_add_new" %>
    <% end %>

    <%= link_to t("export.button_download"), exports_path(params.merge(format: :xlsx).permit!), class: "btn btn-primary" %>
  </div>
</div>
<br />
<%= render "grid_device_categories" %>
<%= paginate @list_categories %>
