<div id="error"></div>
<%= hidden_field_tag "current_code", @device.device_code %>
<%= hidden_field_tag "current_category_id", @device.device_category_id %>
<%= form_for @device, html:{ multipart: true }, remote: true do |f| %>
  <table id="table-show" class="table" style="table-layout: fixed;">
    <tr>
      <td class="width-30" rowspan="4">
        <div class="padding-left-3">
          <div class="row taC">
            <% if @device.picture? %>
              <%= image_tag @device.picture.url, id: "logo-icon", class: "image-preview" %>
            <% else %>
              <%= image_tag "default_device.png", id: "logo-icon", class: "image-preview" %>
            <% end %>
          </div>
          <br/ >
          <div class="row input-field col s6">
            <%=f.file_field :picture, class:"upload-image file-image" %>
          </div>
        </div>
      </td>
      <td class="over-follow-visible two-items">
        <div class="input-field col s6 device-left">
          <%= f.label t "device_manager.field_label.device_status" %>
          <% if @device.device_status_id == Settings.device_status.using %>
            <%= hidden_field_tag :device_status_id, @device.device_status_id %>
            <%= f.label @device.device_status.name, class: "form-control"%>
          <% else %>
            <%= f.collection_select :device_status_id, @device_status, :id, :name, {},
              {class: "form-control"} %>
          <% end %>
        </div>
        <% if @device.bought_date.to_s == Settings.year_default %>
          <div class="input-field col s6 device-right">
            <%= f.label t "device_manager.field_label.bought_date" %>
            <%= f.text_field :bought_date, data: {provide: "datepicker"}, class: "form-control" %>
          </div>
        <% else %>
          <div class="input-field col s6 device-right">
            <%= f.label t "device_manager.field_label.bought_date" %>
            <%= f.text_field :bought_date, class: "form-control", readonly: true %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="over-follow-visible">
        <div class="input-field col s6 device-left">
          <%= f.label t "device_manager.field_label.device_category" %>
          <%= f.collection_select :device_category_id, @device_categories, :id, :name,
            {}, {class: "chosen-select form-control device-category",
            onchange: "getDeviceCode('" + device_code_show_path + "')"} %>
        </div>
        <div class="input-field col s6 invoice-number">
          <%= f.label t "device_manager.field_label.invoice" %>
          <%= f.collection_select :invoice_id, @device_invoices, :id, :invoice_number,
            {}, class: "chosen-select form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="over-follow-visible">
        <% if @device.original_price == Settings.price_default %>
          <div class="input-field col s6">
            <%= f.label :original_price %>
            <%= f.number_field :original_price,
              class: "form-control original-price" %>
          </div>
        <% else %>
          <div class="input-field col s6">
            <%= f.label :original_price %>
            <%= f.number_field :original_price,
              class: "form-control original-price", readonly: true %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-field col s6">
          <%= f.label :device_code %>
          <%= f.text_field :device_code, class: "form-control device-code" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="input-field col s6">
          <%= f.label :production_name %>
          <%= f.text_field :production_name, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="input-field col s6 device-left">
          <%= f.label :serial_number %>
          <%= f.text_field :serial_number, class: "form-control" %>
        </div>
        <div class="input-field col s6 model-number">
          <%= f.label :model_number %>
          <%= f.text_field :model_number, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 radio_choose">
                <p><%= t ".print_type" %></p>
                <%= radio_button_tag "printed_code", "barcode", checked: true %><%= t ".barcode" %>
                <%= radio_button_tag "printed_code", "qrcode", class: "radio-btn" %><%= t ".qrcode" %>
              </div>
            </div>
          </div>
        </div>
        <hr class="line-print">
        <div class="row" id="tr-printed-code">
          <div class="col-md-6">
            <div class="row print-code">
              <div class="col-md-9">
                <%= f.text_field :printed_code, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <%= link_to t(".generate"), "#", class: "btn btn-success btn-generate" %>
              </div>
            </div>
          </div>
          <div class="col-md-6" id="div-printed-code">
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
      <%= t "device_manager.button_close_text" %>
    </button>
    <button type="submit" class="btn btn-primary">
      <%= t "device_manager.button_submit_text.save_change" %></button>
   </div>
<% end %>
