<table class="table table-hover" style="table-layout: fixed;">
  <thead>
    <tr>
      <th class="width-30"><%= t "device_manager.table.header.staff" %></th>
      <th class="width-30"><%= t "device_manager.table.header.from_date" %></th>
      <th class="width-30"><%= t "device_manager.table.header.to_date" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @using_histories.any? %>
      <% @using_histories.each do |using_history| %>
        <tr>
          <td>
            <%= using_history.assignment_assignee_name %>
          </td>
          <td>
            <%= l using_history.assignment.created_at, format: :date_format %>
          </td>
          <td>
            <% if using_history.return_date? %>
              <%= l using_history.assignment.return_date, format: :date_format %>
            <% else %>
              <span class="label badge">
                <%= t "device_manager.field_label.now"%>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" class="taC">
          <%= t "device_manager.table.message.device_not_exist_using_history" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
