<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#request_info" aria-controls="request_info"
        role="tab" data-toggle="tab"><%= t "request.tab.request_info" %></a>
    </li>
    <li role="presentation">
      <a href="#device_assignment" aria-controls="device_assignment"
        role="tab" data-toggle="tab"><%= t "request.tab.device_assignment" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="request_info">
      <%= render "request_info" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="device_assignment">
      <%= render "device_assignment" %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
      <%= t "device_manager.button_close_text" %>
    </button>
   </div>
</div>
