<% if @my_requests.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class= "truncate"><%= t "request.table.title" %></th>
        <th class= "truncate"><%= t "request.table.description" %></th>
        <th><%= t "request.table.request_status" %></th>
        <th class="request-action"><%= t "request.table.request_action" %></th>
        <th class= "truncate"><%= t "request.table.assignee" %></th>
        <th class= "truncate"><%= t "request.table.for_user" %></th>
        <th class= "truncate"><%= t "request.table.updated_by" %></th>
        <th><%= t "request.table.time_ago" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @my_requests.each do |request| %>
        <tr id="<%= request.id %>" class="<%= generate_tag_color request %>" >
          <%= render partial: "request_row", locals: {request: request} %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= js_will_paginate @my_requests, params: {manager_request: 0} %>
<% end %>
