<% if @my_requests.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t "request.table.title" %></th>
        <th><%= t "request.table.description" %></th>
        <th><%= t "request.table.request_status" %></th>
        <th><%= t "request.table.request_action" %></th>
        <th><%= t "request.table.assignee" %></th>
        <th><%= t "request.table.for_user" %></th>
        <th><%= t "request.table.time_ago" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @my_requests.each do |request| %>
        <tr class="<%= generate_tag_color request %>" >
          <td><%= link_to request.title, request_path(request.id), remote: true,
            data: {toggle: "modal", target: "#dms-popup"} %></td>
          <td><%= request.description %></td>
          <td><%= request.request_status.name %></td>
          <td class="request_status action">
            <%= render "action", request: request %>
          </td>
          <td><%= request.assignee.name if request.assignee.present? %></td>
          <td><%= request.for_user.name if request.for_user.present? %></td>
          <td><%= time_ago_in_words(request.created_at) %></td>
          <td>
            <% if request.show_assignment @current_user %>
              <%= link_to "",  new_assignment_path(request_id: request.id), remote: true,
              class: "glyphicon glyphicon-plus",
              data: {toggle: "modal", target: "#dms-popup"} %>
            <% end %>
            <% if request.allow_edit?(@current_user) %>
              <%= link_to "",  edit_request_path(request), remote: true,
                class: "glyphicon glyphicon-pencil dark",
                data: {toggle: "modal", target: "#dms-popup"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @my_requests %>
<% end %>
