<ul class="nav nav-tabs" role="tablist">
  <% if @current_user.can_manage_request %>
    <li role="presentation" class= <%= @manage_tag_selected ? "active" : "" %>>
      <a href="#another_request" aria-controls="another_request"
        role="tab" data-toggle="tab"><%= t "request.tab.another_request" %></a>
    </li>
  <% end %>
  <li role="presentation" class= <%= @manage_tag_selected ? "" : "active" %>>
    <a href="#private_request" aria-controls="private_request"
      role="tab" data-toggle="tab"><%= t "request.tab.my_title" %></a>
  </li>
</ul>
<div class="tab-content">
  <% if @current_user.can_manage_request %>
    <div role="tabpanel" class="tab-pane <%= @manage_tag_selected ? "active" : "" %>" id="another_request">
      <%= render "another_request" %>
    </div>
  <% end %>

  <div role="tabpanel" class="tab-pane <%= @manage_tag_selected ? "" : "active" %>" id="private_request">
    <%= render "private_request" %>
  </div>
</div>
