<td class="truncate"><%= link_to request.title, request_path(request.id), remote: true,
  data: {toggle: "modal", target: "#dms-popup", backdrop: "static"} %></td>
<td><%= request.request_status_name %></td>
<td class="request_status action">
  <%= render "action", request: request %>
</td>
<td class="truncate"><%= request.assignee.name if request.assignee.present? %></td>
<td class="truncate"><%= request.for_user.name if request.for_user.present? %></td>
<td class="truncate"><%= request.updater.name if request.updater.present? %></td>
<td><%= l request.created_at, format: :long %></td>
<td>
  <% if request.show_assignment_request? @current_user %>
    <%= link_to "", new_assignment_path(request_id: request.id), remote: true,
    class: "glyphicon glyphicon-plus",
    data: {toggle: "modal", target: "#dms-popup"} %>
  <% end %>
  <% if request.allow_edit? @current_user %>
    <%= link_to "", edit_request_path(request), remote: true,
      class: "glyphicon glyphicon-pencil btn btn-warning",
      data: {toggle: "modal", target: "#dms-popup"} %>
  <% end %>
</td>
