<div class="input-field col s6">
  <%= label_tag t "request.table.description", {class: "form-control"} %>
  <%= text_field_tag @request.description, @request.description,
    {class: "form-control", disabled: "disabled"} %>
</div>

<div class="input-field col s6">
  <%= label_tag t "request.table.title", {class: "form-control"} %>
  <%= text_area_tag @request.title, @request.title,
    {class: "form-control", disabled: "disabled"} %>
</div>

<div class="input-field col s6">
  <%= label_tag t "request.table.request_status", {class: "form-control"} %>
  <%= text_field_tag @request.request_status.name, @request.request_status.name,
    {class: "form-control", disabled: "disabled"} %>
</div>

<div class="input-field col s6">
  <%= label_tag t "request.table.request_for", {class: "form-control"} %>
  <%= text_field_tag @request.for_user.name, @request.for_user.name,
    {class: "form-control", disabled: "disabled"} %>
</div>

<div class="input-field col s6">
  <%= label_tag t "request.table.created_by", {class: "form-control"} %>
  <%= text_field_tag @request.creater.name, @request.creater.name,
    {class: "form-control", disabled: "disabled"} %>
</div>

<div class="input-field col s6">
  <%= label_tag t "request.table.updated_by", {class: "form-control"} %>
  <%= text_field_tag @request.updater.name, @request.updater.name,
    {class: "form-control", disabled: "disabled"} %>
</div>

<table id="tbl_request_details" class="table table-hover">
  <thead>
    <tr>
      <th><%= t "request_detail.description" %></th>
      <th><%= t "request_detail.device_category" %></th>
      <th><%= t "request_detail.number" %></th>
    </tr>
  </thead>

  <tbody>
    <% @request.request_details.each do |request_detail| %>
      <tr>
        <td>
          <%= text_area_tag  request_detail.description,
            request_detail.description, {class: "form-control",
              disabled: "disabled"} %></td>
        <td>
          <%= text_field_tag  request_detail.device_category.name,
            request_detail.device_category.name, {class: "form-control",
              disabled: "disabled"} %></td>
        <td> <%= text_field_tag  request_detail.number, request_detail.number,
          {class: "form-control", disabled: "disabled"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>


