  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1>
                <%= t "user_setting.title" %>
              </h1>
            </div>
              <ul id = "list-setting" class="list-group">
                <% if @user_group %>
                  <li class="list-group-item">
                    <%= t "user_setting.label.user_grroup" %>
                    <div class="material-switch pull-right">
                      <%= form_tag(@user_group, id: "form-user-group", method: :PATCH, remote: true) do %>
                        <%= select_tag(:group_id, options_for_select(@list_group
                          .collect{|group|[group.group_name, group.id]},
                          @user_group.id),class: "form-control") %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
                <%= form_tag(user_setting, id: "form-user-setting", method: :put) do %>
                  <% if user_setting.present? %>
                    <% user_setting.optional_hash.each do |setting_name, seting_value| %>
                      <li class="list-group-item">
                          <%= setting_name.titleize %>
                          <div class="material-switch pull-right">
                            <% if type_boolean seting_value %>
                              <%= check_box_tag "setting_params[]",
                                setting_name, seting_value, {id: setting_name} %>
                              <label for="<%= setting_name %>" class="label-default"></label>
                            <% else %>
                              <%= raw render_text_box setting_name, seting_value %>
                              <%= hidden_field_tag "setting_params[]", "#{setting_name}:#{seting_value}",
                                id: "hd-#{setting_name}" %>
                            <% end %>
                          </div>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick = "user_setting_submit();">
              <%= t "device_manager.button_submit_text.save_change" %>
            </button>
          </div>
      </div>
  </div>
