<%= hidden_field_tag 'user_id', logged_in? ? current_user.id : 0 %>
<%= audio_tag "notification.mp3", {id: "notification_sound"} %>
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="">
            <%= link_to "javascript:;", {
              class: "user-profile dropdown-toggle",
              data: {toggle: "dropdown", placement: "top"},
              aria: {expanded: "false"}} do %>
              <%= image_tag(current_user.avatar, id: "logo-icon") %>
              <%= current_user.name %>
              <span class=" fa fa-angle-down"></span>
            <% end %>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><%= link_to t("header.profile"), "#" %></li>
              <li><%= link_to t("header.my_devices"), my_devices_path %></li>
              <li><%= link_to t("header.settings"), user_setting_index_path %></li>
              <li><%= link_to t("help.title"), help_path %></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <i class="fa fa-sign-out pull-right"></i>
                  <%= t "session.log_out" %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="line-height-55">
            <%= render "notifications/notification_center", notifications: @notifications %>
          </li>
        <% else %>
          <li class="">
            <%= render "layouts/login" %>
          </li>
        <% end %>
          <li class="line-height-55">
              <button class="btn btn-default dropdown-toggle" type="button"
                id="dropdownMenuLanguage" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                <%= session[:language].present? ? session[:language] : t("select_language") %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
                <li><%= link_to t("language.english"), changelanguage_path(language: Settings.languages.english) %></li>
                <li><%= link_to t("language.japan"), changelanguage_path(language: Settings.languages.japan) %></li>
              </ul>
          </li>
      </ul>
    </nav>
  </div>
</div>


